* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --orange: #f17300;
  --white: #ffffff;
  --gray: #00000054;
}
.color {
  color: var(--orange) !important;
}
.color-1 {
  color: var(--orange) !important;
}
.backgroundColor {
  background-color: var(--orange) !important;
}
/* logo */
.logo {
  color: var(--orange);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.nav-link {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #222222bf !important;
}
/* highlight button */
.highlight {
  color: var(--orange) !important;
}
.highlight-underline {
  color: var(--orange) !important;
  border-bottom: 2px solid var(--orange) !important;
  padding-bottom: 3px;
}
a {
  text-decoration: none !important;
  color: black !important;
}
.hoverClass:hover {
  background-color: #f8a039 !important;
  transition: all 500ms;
}
.inputDesign {
  width: 352px;
  height: 41px;
  border-radius: 20px;
  border: 1px solid var(--gray);
  background-image: url("../src/img/search.png");
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 2rem;
}
.inputDesign::placeholder {
  font-size: small;
}

.inputDesign[type="text"]:focus {
  border: 1px solid var(--gray) !important;
}

.sidebarFixed {
  height: 60vh;
  overflow-y: auto;
}

.btn-btn {
  background-color: transparent;
  border: none;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 15px;
}
.table-height-fixed {
  height: 43vh;
  overflow: auto;
}
.form-control {
  box-shadow: none !important;
  border: 1px solid var(--gray) !important;
}
.payment-button {
  border: 1px solid var(--gray);
  border-radius: 11px;
  height: 26px;
  width: 60px;
  background-color: transparent;
  padding: 4px, 19px, 4px, 19px;
  font-size: 13px;
  margin: 5px;
}
.payment-hover:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
}
.Button {
  width: 145px;
  height: 37px;
  font-size: 12px;
  font-weight: 5 00;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 7px;
  box-shadow: 0px 3px 3px var(--orange);
  margin: 5px;
}
.Button-Secondary {
  width: 145px;
  height: 37px;
  font-size: 12px;
  font-weight: 5 00;
  line-height: 18px;
  letter-spacing: 0em;
  color: black;
  background-color: #00000017;
  border: none;
  border-radius: 7px;
  margin: 5px;
}

.btn-outline {
  font-size: 12px;
  width: 80px;
  height: 37px;
  background-color: transparent;
  border-bottom: 2px solid var(--gray) !important;
  border: none;
}

.highlight-black {
  background-color: black;
  color: var(--white);
  width: 141px;
  height: 53px;
  border-radius: 8px 0px 0px 0px;
  border: none;
}
.highlight-black-2 {
  background-color: black;
  color: var(--white);
  width: 141px;
  height: 53px;
  border: none;
}

.btn-1 {
  background-color: transparent;
  color: black;
  width: 141px;
  height: 53px;
  border-radius: 8px 0px 0px 0px;
  border: none;
}

input {
  accent-color: var(--orange);
  color: var(--white);
}

.form-check-input {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
}

.backColorForQuantity {
  background-color: #060300;
}
.backColorForQuantityGray {
  background-color: #d9d9d985;
}

.tableHeadingColor {
  background-color: #4b4b4b !important;
  color: white !important;
}

.design-input {
  height: 41px !important;
}

.search-border {
  border: 1px solid var(--gray) !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-left: none !important;
}

.input-border {
  border: 1px solid var(--gray) !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-left: none !important;
}
.btn-close {
  box-shadow: none !important;
}
.outline-button {
  width: 145px;
  height: 37px;
  font-size: 12px;
  font-weight: 5 00;
  line-height: 18px;
  letter-spacing: 0em;
  color: var(--orange);
  background-color: transparent;
  border: 1px solid var(--orange);
  border-radius: 7px;
  /* box-shadow: 0px 3px 3px var(--orange); */
  margin: 5px;
}
.pop-open-button {
  width: 162px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  background-color: #f87b0917;
  color: var(--orange);
  border-radius: 5px;
}
.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-button {
  box-shadow: none !important;
}

.accordion {
  --bs-accordion-active-bg: #f87b0917 !important;
}
.accordion-button:not(.collapsed) {
  color: var(--orange) !important;
}
.btn-gradient {
  border: none;
  width: 164.59px;
  height: 42px;
  border-radius: 8px;
  color: var(--white);
  background-image: linear-gradient(to right, #f87b09, rgba(0, 0, 0, 0.76));
}
.Button_gradient {
  background-image: linear-gradient(to right, #f87b09, rgba(0, 0, 0, 0.637));
}

.backgroundColorLight {
  background-color: #fffaf6;
}

.offcanvas {
  --bs-offcanvas-width: 250px !important;
}

ul > li {
  list-style: none;
}

.Off_canvasButton {
  background-color: #fffaf6 !important;
  color: var(--orange) !important;
}

.off_canvas_hover:hover {
  background-color: #fffaf6 !important;
  color: var(--orange) !important;
}
.off_canvas_hover-2:hover {
  background-color: #fffaf6 !important;
  color: var(--orange) !important;
}
.role_card_hover:hover {
  background-color: #f87b092b !important;
  cursor: pointer;
  box-shadow: 3px 3px 3px #f87b092b !important;
}
.onboarding_hover:hover {
  background-color: #f87b092b !important;
  cursor: pointer;
  /* color: var(--orange) !; */
}
.dropdown-toggle::after {
  content: none !important;
}

.PageName {
  font-size: 20 !important;
  font-weight: 600 !important;
  margin-right: 80px;
}

.btn-hover:hover {
  background-color: #e6e6e6;
}

.button-5 {
  width: 132px;
  height: 37px;
  background-color: #f87b0917;
  border-radius: 5px;
  border: 1px solid var(--orange);
  color: var(--orange);
  font-size: 13px;
  font-weight: 500;
}
.button-6 {
  width: 142px;
  height: 48px;
  border: none;
  color: var(--white);
  font-size: 14px;
  background-color: var(--orange);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.button-7 {
  width: 64px;
  height: 37px;
  border: none;
  color: var(--white);
  font-size: 14px;
  background-color: var(--orange);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}
.itemButton {
  border: 1px solid #00000017;
  border-radius: 5px;
  background-color: white;
}
.fontsize {
  font-size: 13px;
}
.border-color {
  border: 1px solid var(--orange) !important;
}
.delivery-button-active {
  width: 73px;
  height: 34px;
  border-radius: 6px;
  background-color: #f87b0917;
  color: var(--orange);
  border: 1px solid var(--orange);
  padding: 8px, 12px, 8px, 12px;
  font-size: 12px;
  font-weight: 400;
  margin-right: 10px;
}
.delivery-button {
  width: 73px;
  height: 34px;
  border-radius: 6px;
  background-color: #d9d9d917;
  color: #222222d1;
  border: 1px solid gray;
  padding: 8px, 12px, 8px, 12px;
  font-size: 12px;
  font-weight: 400;
  margin-right: 10px;
}
.TableHover:hover{
  background-color: #F4F4F4;
}

/* media query  // desktop*/
@media only screen and (max-width: 1200px) {
 
}

/* media query  mobile */
@media only screen and (max-width: 576px) {
  .display-none-mobile {
    display: none;
  }
  
  .PageName {
    margin-right: 0px;
  }
  .content-align{
    text-align: center;
  }
  .modal-dialog-centered {
    align-items: end !important;
  }
  
  .modal {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes slideInUp {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes slideInUp {
    0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}
/* tab */
@media only screen and (max-width: 820px) {
  .display-none-mobile {
    display: none;
  }
  .PageName {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .custom_button {
    display: none;
  }
  .feedback_firstpage_image{
    height: 50vh;
  }
}

@media only screen and (min-width: 992px) {
  .feedback_firstpage_image{
    height: 94.5vh;
    width: 100%;
  }
}
.popup{
  display: flex;
  position: fixed;
  top:0;
  z-index: 99;
  
}